<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'trackers' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
    <ion-slides>
        <!-- Phone number slide -->
        <ion-slide>
            <ion-col class="ion-justify-content-center">
                <ion-row><img src="./assets/phonegps.svg"/></ion-row>
                <ion-row><h2>Welcome to the <b>ICA</b></h2></ion-row>
                <ion-row><p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p></ion-row>
            </ion-col>
        </ion-slide>
        <!-- Confirm -->
        <ion-slide>
            <ion-col class="ion-justify-content-center">
                <ion-row><img src="./assets/compass.svg"></ion-row>
                <ion-row><h2>Ready to Play?</h2></ion-row>
                <ion-row><ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></ion-row>
            </ion-col>
        </ion-slide>
    </ion-slides>
</ion-content>
