body.dark {
  --main-normal: #3880ff;
  --main-hover: #4c8dff;
  --main-tint: #2d99fe;
  --main-contrast: #fafafa;

  --theme-light: #fafafa;
  --theme-dark: #1c1c28;

  --shadow-0: #595b7022;

  --gray-0: #f2f2f2;
  --gray-1: #e6e6e6;
  --gray-2: #cccccc;
  --gray-3: #b3b3b3;
  --gray-4: #999999;
  --gray-5: #808080;
  --gray-6: #666666;
  --gray-7: #4d4d4d;
  --gray-8: #333333;
  --gray-9: #0d0d0d;

  --error-normal: #e34c4c;
  --error-hover: #bd3539;
  --error-tint: #ea7878;

  --warning-normal: #f7b422;
  --warning-hover: #ffab00;
  --warning-tint: #f8bc3b;

  --success-normal: #56bd5b;
  --success-hover: #3e9645;
  --success-tint: #68c46d;

  --information-normal: #0099fa;
  --information-hover: #007bd4;
  --information-tint: #2eaeff;
}
