body.dark {
  --main-normal: #fe7b06;
  --main-hover: #fe9639;
  --main-tint: #fe881e;
  --main-contrast: #fafafa;

  --theme-light: #fafafa;
  --theme-dark: #1c1c28;

  --shadow-0: #595b7022;

  --gray-0: #ffffff;
  --gray-1: #fafafa;
  --gray-2: #8f90a6;
  --gray-3: #595b70;
  --gray-4: #3e4057;
  --gray-5: #313d4f;
  --gray-6: #222c3c;
  --gray-7: #282a39;
  --gray-8: #222437;
  --gray-9: #1c1c28;

  --error-normal: #e34c4c;
  --error-hover: #bd3539;
  --error-tint: #ea7878;

  --warning-normal: #f7b422;
  --warning-hover: #ffab00;
  --warning-tint: #f8bc3b;

  --success-normal: #56bd5b;
  --success-hover: #3e9645;
  --success-tint: #68c46d;

  --information-normal: #0099fa;
  --information-hover: #007bd4;
  --information-tint: #2eaeff;
}
