body.light {
  --main-normal: #3880ff;
  --main-hover: #4c8dff;
  --main-tint: #3171e0;
  --main-contrast: #fafafa;

  --theme-light: #ffffff;
  --theme-dark: #1c1c28;

  --shadow-0: #0e1b2322;

  --gray-0: #1e1e1e;
  --gray-1: #363636;
  --gray-2: #4d4d4d;
  --gray-3: #656565;
  --gray-4: #7d7d7d;
  --gray-5: #949494;
  --gray-6: #acacac;
  --gray-7: #c4c4c4;
  --gray-8: #dbdbdb;
  --gray-9: #f3f3f3;

  --error-normal: #e34c4c;
  --error-hover: #bd3539;
  --error-tint: #ea7878;

  --warning-normal: #f7b422;
  --warning-hover: #ffab00;
  --warning-tint: #f8bc3b;

  --success-normal: #56bd5b;
  --success-hover: #3e9645;
  --success-tint: #68c46d;

  --information-normal: #0099fa;
  --information-hover: #007bd4;
  --information-tint: #2eaeff;
}
