body.light {
  --main-normal: #fe7b06;
  --main-hover: #fe9639;
  --main-tint: #fe881e;
  --main-contrast: #fafafa;

  --theme-light: #ffffff;
  --theme-dark: #1c1c28;

  --shadow-0: #0e1b2322;

  --gray-0: #0e1b23;
  --gray-1: #152935;
  --gray-2: #5a6872;
  --gray-3: #7a869a;
  --gray-4: #b0bac5;
  --gray-5: #e0e3ea;
  --gray-6: #e9ecf1;
  --gray-7: #dfe6ee;
  --gray-8: #f4f7fa;
  --gray-9: #ffffff;

  --error-normal: #e34c4c;
  --error-hover: #bd3539;
  --error-tint: #ea7878;

  --warning-normal: #f7b422;
  --warning-hover: #ffab00;
  --warning-tint: #f8bc3b;

  --success-normal: #56bd5b;
  --success-hover: #3e9645;
  --success-tint: #68c46d;

  --information-normal: #0099fa;
  --information-hover: #007bd4;
  --information-tint: #2eaeff;
}
