<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'trackers' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form-object [object]="this.tracker"></form-object>

  <ion-button expand="block" (click)="this.tracker.setMode(trackerMode.SMS);">Set SMS Mode</ion-button>
  <ion-button expand="block" (click)="this.tracker.setMode(trackerMode.GPRS);">Set GPRS Mode</ion-button>
  <ion-button expand="block" (click)="this.tracker.getLocation();">Set GPRS Mode</ion-button>
  <ion-button expand="block" (click)="this.tracker.readConf();">Read Config</ion-button>

  <ion-button expand="block" color="danger" (click)="delete();">{{'delete' | translate}}</ion-button>
</ion-content>
