<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'trackers' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form-object [object]="this.tracker"></form-object>

  <ion-button expand="block" (click)="this.tracker.setAdminNumber('+351915939715');">Admin number</ion-button>
  <ion-button expand="block" (click)="this.tracker.setSOSNumber('+351915939715', 1);">SOS number</ion-button>
  <ion-button expand="block" (click)="this.tracker.getLocation();">Get Location</ion-button>

  <ion-button expand="block" color="danger" (click)="delete();">{{'delete' | translate}}</ion-button>
</ion-content>
