<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'trackers' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Search bar -->
<ion-searchbar [debounce]="100" (ionChange)="onSearch($event)"></ion-searchbar>

<ion-content>
  <!-- Tracker list -->
  <ion-list>
    <!--<ng-template *ngFor="let tracker of app.trackers" [ngIf]="stringUtils.searchObject(search, tracker, ['name'])">-->
    <ng-container *ngFor="let tracker of app.trackers">
      <ion-item *ngIf="stringUtils.searchObject(search, tracker, ['name'])" button (click)="app.navigator.navigate('/tabs/trackers/view', tracker)">
        <ion-label>{{tracker.name | translate }}</ion-label>
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>

  <!-- Create new Tracker -->
  <ion-button expand="block" (click)="app.navigator.navigate('/tabs/trackers/add')">{{'add' | translate}}</ion-button>
</ion-content>
