<ion-header translucent>
	<ion-toolbar>
		<ion-buttons>
			<ion-button *ngIf="app.navigator.route.length > 1" color="primary" fill="clear" slot="start" size="small" (click)="this.app.navigator.pop();">
				<ion-icon name="arrow-dropleft"></ion-icon>
				<ion-text>{{'back' | translate}}</ion-text>
			</ion-button>
			<ion-title>{{this.title | translate}}</ion-title>
		</ion-buttons>

		<ion-buttons slot="primary">
			<ion-button>
				<ion-icon slot="icon-only" name="menu"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

